@import url('./__count/like__count.css');
@import url('./__heart/like__heart.css');
@import url('./__heart/_active/like__heart_active.css');
.like {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}