.element__trash {
    visibility: hidden;
    width: 18px;
    height: 19px;
    background: url('../../../images/trash-icon.svg') center no-repeat;
    background-color: transparent;
    transition: opacity 1s ease;
    cursor: pointer;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    top: 18px;
    left: 249px;
}

.element__trash:hover {
    opacity: 0.6;
}