.like__heart {
    width: 21px;
    height: 18px;
    background-image: url('../../../images/like.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 1s ease;
    margin-left: auto;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.like__heart:active, .like__heart:focus {
    outline: none;
}

.like__heart:hover {
    opacity: 0.6;
}