@import url('./__title/header__title.css');
@import url('./__link/header__link.css');

.header {
    display: flex;
    justify-content: space-between;
    max-width: 882px;
    margin: auto;
    padding: 45px 0 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 550px) {
    .header {
        margin: 0;
        padding-top: 28px;
    }
}