.form__input {
    width: 100%;
    padding: 0 0 13px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
    outline: none;
}

.form__input:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 550px) {
    .form__input {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
    }
}